#kariWatchAR {
    background-color: white;
    border: solid;
    font-size: 15px;
    height: 20px;
    text-align: center;
    width: 100px;
}

#kariWatchContents{
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
}

#kariWatchMovie {
    background-color: white;
    border: solid;
    font-size: 15px;
    height: 20px;
    text-align: center;
    width: 100px;
}





#ARInvoke{
    background-color: white;
    border: solid;
    bottom: 10px;
    font-size: 15px;
    height: 30px;
    position: absolute;
    right: 10%;
    text-align: center;
    width: 80%;
}

#contentsExplanation{
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#explanationErea{
    background-color: #fff;
    height: 30%;
    left: 10px;
    position: absolute;
    top: 10%;
    width: 95%;

    align-items: center;
    display: flex;
    justify-content: center;
}

#explanationImagesErea{
    height: 90%;
    width: 100%;
}

#howToClose{
    background-color: white;
    border: solid;
    font-size: 15px;
    height: 30px;
    position: absolute;
    right: 5%;
    top: 10px;
    text-align: center;
    width: auto;
}

#howToExperienceIt{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 100%;
    z-index: 5;
}

#howToImageErea{
    background-color: white;
    height: 80%;
    left: 10%;
    position: relative;
    top: 10%;
    width: 80%;
}

#iframeErea{
    top: 35%;
    left: 0;
    position: relative;
}

#imageChoiceIconErea{
    display: flex;
    height: 10%;
    justify-content: space-evenly;
    width: 100%;
}

#imageFlickErea{
    height: 30%;
    left: 10px;
    position: absolute;
    top: 50%;
    width: 95%;
}

#modalDialog::backdrop {
    backdrop-filter: blur(16px);
}

#modalDialog {
    box-shadow: 0px 50px 56px 0px rgba(0, 0, 0, 0.6);
    height: auto;
    top: 20%;
    width: 300px;
}

#watchMovie{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 100%;
    z-index: 5;
}

#watchMovieClose{
    background-color: white;
    border: solid;
    font-size: 15px;
    height: 30px;
    position: absolute;
    right: 5%;
    /* top: 10px; */
    top: 25%;
    text-align: center;
    width: auto;
}

#watchMovieErea{
    /* background-color: white; */
    height: 80%;
    left: 10%;
    position: relative;
    top: 10%;
    width: 80%;
}