#inHouseMap {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#inHouseMapBackgroud {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1; /*地図より上に表示するため*/
}

#inHouseMapContents {
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    position: relative;
    z-index: 1; /*地図より上に表示するため*/
}

#inHouseMapDisplayErea {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 36%;
}

#inHouseMapExplanationErea{
    padding-bottom: 7%;
    padding-left: 5%;
    width: 90%;
}

#inHouseMapImg {
}

#inHouseMapSwipeErea{
    /* display: inline-block; */
    overflow: visible;
    position: relative;
    /* scaleの拡大位置を指定する。X軸 Y軸 */
    transform-origin: 0 0;
}

#inHouseMapSwipeEreaOuteside{
    /* 
      ・inHouseMapImgを大きくするとARボタンの位置を計算する必要がある
      ・inHouseMapSwipeEreaを大きくすると、要素がただ大きくなるだけでスクロールできない
      ・よってinHouseMapSwipeEreaを囲むdivを作成し、その中でinHouseMapSwipeEreaのスケールを拡縮する
     */
    overflow: scroll;
}

#inHouseMapScaleUpDownErea{
    bottom: 5px;
    position: absolute;
    right: 15px;
    width: 15%;
}

#inHouseMapScaleUpDownButton{
    text-align: center;
}

#inHouseMapScaleUpDownGrid{
    bottom: 0;
    display: grid;
    position: absolute;
    right: 0;
}

#scaleUpButton{
    width: 75%;
}

#scaleDownButton{
    width: 75%;
}

#arExplanationButton1{
    height: auto;
    top: 85%;
    position: absolute;
    left: 12%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton2{
    height: auto;
    top: 82%;
    position: absolute;
    left: 26%;
    width: 18% !important;
    z-index: 1;
}

#arExplanationButton3{
    height: auto;
    top: 72%;
    position: absolute;
    left: 47%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton4{
    height: auto;
    top: 59%;
    position: absolute;
    left: 22%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton5{
    height: auto;
    top: 55%;
    position: absolute;
    left: 45%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton6{
    height: auto;
    top: 48%;
    position: absolute;
    left: 36%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton7{
    height: auto;
    top: 42%;
    position: absolute;
    left: 21%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton8{
    height: auto;
    top: 20%;
    position: absolute;
    left: 36%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton9{
    height: auto;
    top: 22%;
    position: absolute;
    left: 50%;
    width: 22% !important;
    z-index: 1;
}

#arExplanationButton10{
    height: auto;
    top: 18%;
    position: absolute;
    left: 72%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton11{
    height: auto;
    top: 12%;
    position: absolute;
    left: 48%;
    width: 15% !important;
    z-index: 1;
}

#arExplanationButton12{
    height: auto;
    top: 9%;
    position: absolute;
    left: 63%;
    width: 15% !important;
    z-index: 1;
}



/* #mapContents {
    position: relative;
    height: 100%;
    overflow: scroll;
    overscroll-behavior: none;
    touch-action: pan-x pan-y;
    width: auto;
    z-index: 1;
} */